@tailwind base;
@tailwind components;
@tailwind utilities;
/* @layer base {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }; */
  @layer utilities {
    .scrollbar::-webkit-scrollbar {
      width: 6px;
      height: 6px;
    }
  
    .scrollbar::-webkit-scrollbar-thumb {
      background: rgb(161 161 170);
      border-radius: 100vh;
    }

    /* .dark .scrollbar::-webkit-scrollbar-track {
      background: rgb(24 24 27);
    } */

  
    .scrollbar::-webkit-scrollbar-thumb:hover {
      background: rgb(113 113 122)
    }

    .dark .scrollbar::-webkit-scrollbar-thumb {
      background: rgb(82 82 91);
    }
  
    .dark .scrollbar::-webkit-scrollbar-thumb:hover {
      background: rgb(113 113 122)
    }

    .custom-number-input {
      -moz-appearance: textfield;
      appearance: textfield;
    }
    
    .custom-number-input::-webkit-inner-spin-button,
    .custom-number-input::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    

    .custom-checkbox:checked ~ .check-1{
      @apply text-opacity-100;
    }


  }
